.my-team {
  color: white;
  border: 1px solid white;
}
.myteam-image img {
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100%;
}
.myteam-image {
  height: 100px;
}
.card .horizontal {
  height: 100px;
}
.card-content-myteam {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
@media screen and (min-width: 650px) {
  .myteam-image img {
    width: 130px;
  }
}
@media screen and (min-width: 800px) {
  .myteam-image img {
    width: 170px;
  }
}
