.card-image img {
  height: 305.94px;
  padding-left: 10px;
  padding-right: 10px;
}
.card-image:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.card {
  background-color: #b41f23 !important;
  color: white;
}
.higher {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-floating {
  color: white;
}

.card-content {
  display: flex;
  justify-content: space-around;
}
.card-content button {
  font-size: 15px;
}
.card-content button:hover {
  transform: scale(1.4);
  transition: 0.5s;
}
.wrapper {
  padding-top: 0;
  margin-top: 0;
}
